

$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);


* {
    margin: 0; // box-model
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Kumbh Sans', sans-serif; // colors & typography
    font-size: 112.5%;
}