

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
// font-family: 'Barlow Semi Condensed', sans-serif;

@import 'config';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/*.chrome-tools-layer {
    width: 100%;
    height: 1200px;

    background-color: #272727;
}*/

.page-container {
    width: 100%;
    // height: 1200px;
    padding: 4.5rem 1.5rem 3rem;
    background-color: $light-grayish-blue;
}


.card-container {

    margin-bottom: 1.3rem;  // comfort only
    
    padding: 1.625rem 2rem 2rem;
    border-radius: 8px;

    background-color: white;

    &:first-child {
        background-image: url("/images/bg-pattern-quotation.svg");
        background-repeat: no-repeat;
        background-position: top 0 right 11%;

        .review-content {
            padding-right: 1rem;
        }
        // how disgusting.
        // only the first card has an additional padding.
        // horrible pitfall.
        // seriously, how awful of a thing that is to do.
    }
}



.user-info {
    display: flex;
}


.user-avatar {
    border: 1px solid white;
    border-radius: 50%;
    
    overflow: hidden;

    img {
        width: 1.75rem;
        height: 1.75rem;
        padding: 0;
        margin: 0;
    }
}


.user-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 1rem;
}


.user-name {
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1;
    letter-spacing: -0.002rem;
}

.user-status {
    font-weight: 600;
    font-size: 0.6875rem;
    line-height: 1rem;
    letter-spacing: -0.002rem;
}


.review-subject {
    margin-top: 1rem;
    padding-right: 0.1rem;

    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.review-content {
    margin-top: 1rem;

    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    letter-spacing: -0.002rem;
}


.card-1 {
    background-color: $moderate-violet;
    color: white;
}

.card-2 {
    background-color: $very-dark-grayish-blue;
    color: white;
}

.card-4 {
    background-color: $very-dark-blackish-blue;
    color: white;
}