

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import "config";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: "Poppins", sans-serif;
}


.chrome-tools-layer {
    width: 100%;
    //height: 1360px;
    margin: auto;

    background-color: #272727;
}


.page-container {
    //width: 375px;
    
    margin: auto;
    padding: 4.875rem 2rem;

    background-color: white;
}

.banner-container {
    text-align: center;
    padding-top: 0.4rem;
}

.banner-title {
    font-weight: 200;
    letter-spacing: 0.01rem;
}

.banner-heading {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.01rem;
}

.banner-description {
    margin-top: 1rem;

    font-weight: 200;
    letter-spacing: 0.0135rem;
    font-size: 0.9375rem;
    line-height: 1.575rem;
}

.category-section {
    margin-top: 4.7rem;
}

.category-card {
    position: relative;

    width: 311px;
    height: 223px;
    margin-top: 1.45rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.6875rem 1.75rem;
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    //background-color: red;

    overflow: hidden;

    .card-ribbon {
        position: absolute;
        top:0; left:0;
    
        width: 100%;
        height: 0.25rem;
    
    }

    img {
        position: absolute;
        width: 58px; height: 58px;
        //right: 1.75rem;
        //bottom: 1.6875rem;
        right: 9%;
        bottom: 12%;
    }
}

.card-title {
    font-size: 1.2rem;
    letter-spacing: 0.03rem;
}

.card-description {
    margin-top: 0.25rem;
    margin-left: 0.1rem;

    font-weight: 200;
    font-size: 0.8rem;
    letter-spacing: 0.02rem;
    line-height: 1.5rem;
}

.card-1 .card-ribbon { background-color: $cyan; }
.card-2 .card-ribbon { background-color: $red; }
.card-3 .card-ribbon { background-color: $orange; }
.card-4 .card-ribbon { background-color: $blue; }


@import 'desktop';